@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Customers</h1>
    <p>Shop with us!</p>

    <p>
        <a asp-action="CustomerForm">Customer Form</a>
    </p>
</div>
